.home__profile-card {
    width: 100%;
    max-width: 400px;
    min-width: 225px;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
}

.home__profile-card-image {
    width: 80px;
    height: 80px;
}

#notification {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.home-message {
    max-width: 100%;
    padding: 1rem;
}

.profile-collector {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    gap: 1rem;
    padding: 1rem;
    justify-items: center;
    overflow-y: auto;
    max-height: calc(100vh - 160px);
}

/* Mobile-friendly styles */
@media screen and (max-width: 768px) {
    .home__profile-card {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        padding: 0.5rem;
        overflow: hidden;
        max-height: 250px;
    }

    .home__profile-card-image {
        width: 60px;
        height: 60px;
    }

    .profile-collector {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        gap: 1rem;
        padding: 1rem;
        justify-items: center;
        overflow-y: auto;
        max-height: calc(100vh - 200px);
    }

    .profile-collector>a {
        width: 100%;
        max-width: 300px;
        display: block;
    }

    .text-xs {
        font-size: 0.75rem;
    }

    .text-center {
        text-align: center;
    }

    .mb-2 {
        margin-bottom: 0.5rem;
    }

    .p-2 {
        padding: 0.5rem;
    }

    .mt-4 {
        margin-top: 1rem;
    }

    .text-2xl {
        font-size: 1.5rem;
    }
}